* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-image: url("/images/laptop2.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}
.form-control{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom:2px solid #020032 !important;
}

.btn{
    
    background-color: #080032 !important;
    color: azure;
    
}

::placeholder{
    color: rgba(0, 1, 70, 0.774) !important;
}

/* * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.whole {
    height: 450px;
    border: 1px solid rgba(255, 255, 255, 0.81);
    border-radius: 10px;
  
    box-shadow: 1px 1px 40px 15px rgb(227, 255, 227);
    overflow: hidden;
    transition: 1s;
    

}
.whole:hover{
    border: 1.5px solid rgba(255, 255, 255, 0.81);

    box-shadow: 1px 1px 20px 5px  rgb(162, 188, 162);

}

.box {
    padding: 40px 40px;
    padding-left: 40px;
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgb(138, 214, 138);
    background: radial-gradient(circle, rgb(119, 255, 124) 0.3%, rgb(136, 228, 133) 21%, rgb(93, 245, 129) 43%, rgb(90, 226, 75) 77%);
}

.login {
    font-size: 25px;
    color: #003c18;
    font-weight: 700;
}

.u-login {
    color: #0a4e37;
    font-size: 15px;
    padding-top: 20px;

}

.email-out {

    padding-top: 20px;


}

.input {
    border: 2px solid rgba(0, 36, 4, 0.714);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 18px;
    background-color: rgba(255, 228, 196, 0);



}

::-webkit-input-placeholder {
    color: rgba(28, 72, 18, 0.76);
}

.password-out {
    padding-top: 20px;

}

.input:hover {
    background-color: rgba(255, 255, 255, 0.349);
    transition: 1s;

}

.fg {
    padding-top: 20px;
    color: #0a4e37;
}

.btn-out {
    padding-top: 20px;
}

.login_btn {
    border: 2px solid rgba(0, 0, 0, 0);
    height: 40px;
    color: #7eff6b !important;
    background-color: rgba(13, 27, 17, 0.79) !important;
    font-weight: 300 !important;
    font-size: 15px;



}


.signup {
    text-align: center;
    padding-top: 20px;
    color: #fff;

}

.picbox {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 50%;
    border-radius: 5px;
}

.pic {
    height: 400px;
    width: 300px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
@media only screen and (max-width: 1000px) {
    .picbox {
        width: 100% !important;
        display: none !important;
    }
    .box{
        width: 100% !important;
    }
}
@media only screen and (max-width: 400px) {
    .picbox {
        display: none !important;
    }
    .box{
        width: 100% !important;
    
    }
    .input{
        height: 40px !important;
    }
}
 */
